html {
  background-color: $background-color;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  overflow-x: hidden !important;
}

main {
  background-color: $background-color;
  height: 100%;
  width: 100%;
}