.card-button {
  border: 1px solid $black;
  border-radius: .5rem;
  height: 2rem;
  width: 2rem;
  margin: .4rem;
  cursor: pointer;
}

.add-button {
  background-color: $nav-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  width: 100%;
}

.hidden {
  display: none;
}

.favorite {
  // border: none;
  background-color: $nav-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.all-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: #D7F2FE;
  // border: 2px solid $black;
  box-shadow: 0px 0px 8px $black;
}


.card-header {
  background-color: $nav-color;
  border-bottom: 1px solid $black;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $nav-color;
  font-size: 14px;
  width: 100%;
}

h3 {
  color: $nav-color;
  font-size: 20px;
}

.recipe-name {
  color: $black;
  display: block;
  font-size: 16px;
  text-align: center;
}


.picture-container {
  display: flex;
  align-self: center;
  justify-content: center;
}

.card-picture {
  border: 1px solid $black;
  margin: 4%;
  width: 94%;

  // align-self: flex-end;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    border: 2px solid $black;
  }
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 550px) {
  .all-cards {
      display: grid;
      grid-gap: .4rem;
      grid-template-columns: repeat(2, 1fr);
  }
}