img {
  cursor: pointer;
}

.all-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  width: 95.5vw;
}

.card {
  background-color: $card-background;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px $black;
  @include flex-column();
}

.card-header {
  background-color: $nav-color;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid $black;
  display: flex;
  justify-content: space-between;
}

.card-button {
  height: 2rem;
  width: 2rem;
  margin: .4rem;
  cursor: pointer;
}

.add-button {
  border: 2px solid $black;
  background-color: $button-color;
  border-radius: 1rem;
  display: flex;
  @include flex-center();
  outline-color: $button-color;
}

.add {
  width: 100%;
}

.favorite {
  border: none;
  background-color: $nav-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline-color: $button-color;
}

.recipe-view {
  @include flex-column();
}

.highlight {
  background-color: $nav-color;
}

.all-recipe-info {
  @include flex-column();
  @include flex-center();
  color: $nav-color;

  h3 {
    font-size: 20px;
  }

  li {
    margin: .3rem;
  }

  ol {
    font-size: 14px;
  }
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
}


.recipe-name {
  color: $black;
  height: 2.5rem;
  display: flex;
  @include flex-center();
  overflow-wrap: break-word;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-shadow: 2px 2px 5px $button-color;
}

.no-recipes {
  display: flex;
  justify-self: center;
  @include flex-center();
}

.picture-container {
  display: flex;
  @include flex-center();
}

.card-picture {
  border: 1px solid $black;
  border-radius: .5rem;
  margin: 5%;
  width: 90%;
  outline-color: $button-color;
  outline-width: thick;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    border: 2px solid $black;
  }
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 770px) {
  .all-cards {
    display: grid;
    grid-gap: .4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .recipe-view {
    @include flex-column();
  }

  .recipe-name {
    height: 2rem;
    font-size: 1rem;
  }

  @media screen and (max-width: 550px) {
    .all-cards {
      display: grid;
      grid-gap: .4rem;
      grid-template-columns: repeat(2, 1fr);
    }

    .recipe-view {
      @include flex-column;
    }

    .recipe-name {
      height: 1rem;
      margin-top: .5rem;
      font-size: .8rem;
    }

    .ingredients {
      @include flex-column();
      margin: 1rem;
      flex-wrap: wrap;
    }
  }
}

.hidden {
  display: none;
}